.Home {
  height: 100vh;
  overflow: hidden; /* 외부 div에서는 스크롤을 숨깁니다 */
  font-family: "Pretendard-Regular";
}

.one_page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  overflow-y: auto; /* 각 섹션에서 스크롤이 가능하도록 합니다 */
}
