.container {
  padding-top: 180px;
  width: 70%;
  margin: 0 auto;
  min-height: calc(100vh - 140px);
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 0;
}

.title::before {
  content: "";
  width: 6px;
  height: 32px;
  background: #ba274a;
  border-radius: 8px;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.formContainer {
  flex: 1;
  margin-right: 40px;
  max-width: 800px;
}

.sideNav {
  width: 200px;
  margin-left: 20px;
  border-top: 2px solid #E5D5DA;
  height: 100%;
}

.sideNavItem {
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease;
  border-bottom: 1px solid #E5D5DA;
  font-weight: 600;
}

.sideNavItem:last-child {
  border-bottom: 2px solid #E5D5DA;
}

.sideNavItem:hover {
  color: #ba274a;
}

.formGroup {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.label {
  width: 120px;
  font-size: 16px;
  color: #333;
  flex-shrink: 0;
  font-weight: normal;
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 600;
  margin-bottom: 0;
}

.input {
  width: 300px;
  border: 1px solid #E5D5DA;
  border-radius: 8px;
  font-size: 14px;
  background-color: #fff;
  margin-bottom: 0;
}

.input:not([type="password"]) {
  margin-bottom: 0;
}

.confirmButton {
  padding: 10px 10px;
  background-color: #ba274a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmButton:hover {
  background-color: #a32242;
}

.cancelButton {
  padding: 10px 10px;
  background-color: #ffffff;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancelButton:hover {
  background-color: #eee;
}

.emailInput {
  display: flex;
  align-items: center;
  gap: 4px;
}

.emailInput input {
  width: 140px;
}

.emailInput span {
  color: #666;
}

.radioGroup {
  display: flex;
  align-items: center;
  gap: 40px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #E5D5DA;
  font-size: 16px;
}

.warningText {
  color: #ba274a;
  font-size: 12px;
  margin-top: 4px;
  margin-left: 0;
}

.receiveText {
  color: #ba274a;
  font-size: 12px;
  margin-left: 130px;
}

.formActions {
  margin: 20px 0 100px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.basicInfo {
  padding: 20px 0 20px 0;
  border-top: 2px solid #E5D5DA;
}

.additionalInfo {
  border-top: 2px solid #E5D5DA;
  border-bottom: 2px solid #E5D5DA;
  padding-top: 20px;
  padding-bottom: 20px;
}

.passwordRequirements {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.emailDomain {
  padding: 10px 10px;
  border: 1px solid #E5D5DA;
  border-left: 0px;
  border-radius: 0 8px 8px 0;
  font-size: 16px;
  background-color: #e6e6e6;
}

.passwordWarning {
  color: #ba274a;
  font-size: 12px;
  position: absolute;
  left: 120px;
  bottom: -18px;
}

@media (max-width: 768px) {
  .mainContent {
    width: 95%;
    flex-direction: column;
  }

  .formContainer {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .sideNav {
    margin-left: 0;
    width: 100%;
  }
}

.nameInput,
.idInput {
  border: none;
  padding: 10px 0 10px 0;
  margin-bottom: 0;
  font-size: 14px;
}

.readOnlyInput {
  outline: none;
  cursor: default;
}

.readOnlyInput:focus {
  outline: none;
  border-color: inherit;
}

.guideMessage {
  display: block;
  font-size: 12px;
  color: #666;
}

.errorMessage {
  color: #ba274a;
}

.RadioGroup {
  display: flex;
  gap: 10px;
  align-items: center;
}

.RadioItem input[type="radio"] {
  margin: 0;
  cursor: pointer;
  accent-color: #ba274a;
  width: 14px;
  height: 14px;
  position: relative;
  top: 0;
}

.RadioItem {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #000;
  font-weight: 500;
  height: 36px;
  margin-right: 20px;
}

.RadioItem label {
  cursor: pointer;
  margin-left: 0;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.RadioItem input[type="radio"] + label {
  font-size: 16px;
}

.active {
  color: #ba274a;
}
