/* Oneonone.module.css */

.Container {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  margin: 0 auto;
}

.MainContent {
  padding: 20px;
  padding-top: 180px;
  padding-bottom: 170px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.menu_introduce {
  font-family: "Pretendard-Regular";

  width: 40%;
  text-align: center;
  margin: 0 auto;
}

.menu_title {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 5px;
}

.underline {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.underline::after {
  content: "";
  position: absolute;
  left: -3px;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: #ba274a;
  z-index: -1;
}

.menu_content {
  font-size: 16px;
  padding-bottom: 30px;
}

.FormContainer {
  max-width: 800px;
  margin: 0 auto;
}

.Form {
  text-align: left;
  border: 1px solid #f5edf0;
  border-radius: 8px;
  padding: 20px 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  width: 100%;
}

.FormTitle {
  font-weight: 300;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: gray;
  margin-bottom: 1px; /* 간격 조절 */
}

.TabButton {
  padding: 10px 20px;
  border: 1px solid #f5edf0;
  background: none;
  cursor: pointer;
  text-align: left;
}

.TabButton.active {
  background-color: #000;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.FormGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.FormGroup label {
  min-width: 80px;
  line-height: 36px;
}

.FormGroup input {
  flex: 1;
  height: 36px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #f5edf0;
  border-radius: 8px;
}

.FormGroup textarea {
  height: auto;
  border: 1px solid #f5edf0;
  border-radius: 8px;
  flex: 1;
  padding: 8px;
  margin: 0;
  height: 100px;
}

.FormGroup:has(textarea) {
  align-items: flex-start;
}

.FormFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.ButtonGroup {
  display: flex;
  gap: 10px;
}

.SubmitButton {
  width: 100%;
  padding: 15px;
  background-color: #ba274a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SubmitButton:hover {
  background-color: #ba274a;
}

.RadioGroup {
  display: flex;
  gap: 20px;
}

.RadioItem input[type="radio"] {
  margin: 0;
  cursor: pointer;
  accent-color: #ba274a;
  width: 20px;
  height: 15px;
}

.RadioItem {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  color: #000;
}

.RadioItem label {
  cursor: pointer;
}

.TermsContainer {
  margin: 20px 0;
}

.EmailGroup {
    display: flex;
    flex: 1;
    gap: 8px;
    align-items: center;
}

.EmailInput {
    flex: 1;
    height: 36px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #f5edf0;
    border-radius: 8px;
}

.EmailAt {
  font-size: 16px;
}