.Container {
  padding-top: 180px;
  width: 70%;
  margin: 0 auto;
  min-height: calc(100vh - 140px); 
}

.MainContent {
  max-width: 1200px;
  margin: 0 auto;
}

.hr {
  display: none;
  margin: 0;
  border: none;
  overflow: visible;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  unicode-bidi: normal;
  color: black;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 0;
}

.title::before {
  content: "";
  width: 6px;
  height: 32px;
  background: #ba274a;
  border-radius: 8px;
}

.checkout_menu_container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.checkout_items {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
  width: 70%;
}

.checkout_order_title {
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  display: flex;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  color: #000000;
}

.checkout_order_title_span {
  color: #ba274a;
}

.branch {
  font-weight: 600;
  color: #666;
  font-size: 18px;
  margin-top: 0;
  padding-top: 50px;
  border-top: 1px solid #ccc;
}

.branch_change {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ba274a;
  height: 30px;
  width: 50px;
  color: #ba274a;
}

.store_button {
  font-size: 24px;
  margin-right: 10px;
}

.checkout_store_title {
  display: flex;
  justify-content: left;
  margin-bottom: 50px;
  font-weight: 600;
}

.checkout_item {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ccc;
  height: 120px;
}

.checkout_item_image {
  margin-right: 15px;
  width: 60px;
  height: 60px;
}
.checkout_item_image > img {
  width: 100%;
  height: 100%;
}
.checkout_item_description {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: 50px;
}

.checkout_item_header {
  display: flex;
  margin-bottom: 5px;
}

.checkout_item_name {
  font-size: 16px;
  font-weight: 600;
}

.checkout_item_price {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}
.checkout_item_options {
  font-size: 14px;
  color: #666666;
}

.order_content_bottom {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  height: 50px;
  align-items: center;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.checkout_item_totalPrice {
  font-size: 14px;
  font-weight: 600;
}
.checkout_item_totalPrice_money {
  font-size: 14px;
  color: #ba274a;
  margin-left: 5px;
  margin-right: 5px;
}

.checkout_pickup {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  border-top: 2px solid #ccc;
  padding-top: 50px;
}

.checkout_choice {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #666666;
  margin-top: 0;
}

.checkout_message {
  color: #ba274a;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pickup_method {
  display: flex;
  gap: 5px;
  margin-bottom: 50px;
}

.pickup_button {
  background-color: white;
  color: #808080;
  border: 1px solid #808080;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  height: 50px;
  font-weight: 600;
}

.pickup_button.active {
  background-color: #ffffff;
  color: #ba274a;
  border: 2px solid #ba274a;
}

.checkout_coupon {
  font-size: 18px;
  font-weight: 600;
  border-top: 2px solid #ccc;
  padding-top: 50px;
  color: #666666;
  margin-top: 0;
  margin-bottom: 10px;
}

.select_coupon {
  margin-bottom: 15px;
}

.select_coupon select {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #F5EDF0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23BA274A' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 14px;
  appearance: none;
  color: #F5EDF0;
}

.coupon_img {
  width: 20px;
  height: 20px;
}

.coupon {
  align-items: center;
}

.discount_price {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 50px;
}
.discount_price_money {
  color: #ba274a;
}

.checkout_stamp {
  font-size: 18px;
  margin-bottom: 10px;
  color: #666666;
  border-top: 2px solid #ccc;
  margin-top: 0;
  padding-top: 50px;
  font-weight: 600;
}

/* Order Summary Section */
.checkout_summary {
  display: flex;
  flex-direction: column;
  width: 240px;

  padding: 20px;
  border-radius: 8px;
  background-color: #f8f8f8;
}

.order_summary_title {
  font-size: 20px;
  color: #212529;
  margin-bottom: 24px;
  text-align: center;
  margin-left: 0;
  margin-top: 0;
}

.order_summary_detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
  padding: 8px 0;
}

.order_summary_item {
  font-size: 16px;
  color: #666666;
}

.order_summary_count,
.order_summary_price {
  font-size: 16px;
  font-weight: 600;
  color: #ba274a;
}

.order_summary_discount {
  font-size: 16px;
  font-weight: 600;
  color: #ba274a;
}

.order_summary_finalPrice {
  font-size: 16px;
  font-weight: 600;
  color: #ba274a;
}

.payment {
  display: flex;
  gap: 10px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.payment_button,
.payment_cancel_button {
  flex: 1;
  padding: 15px 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.payment_cancel_button {
  background-color: white;
  border: 1px solid #808080;
  color: #808080;
}

.payment_cancel_button:hover {
  background-color: #eee;
  color: #808080;
}

.primary_button {
  background-color: #ba274a;
  border: none;
  color: white;
}

.primary_button:hover {
  background-color: #a02242;
}

.payment_methods_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border-top: 2px solid #ccc;
  padding-top: 50px;
}

.payment_methods_title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #666666;
  font-weight: 600;
}

.payment_methods {
  display: flex;
  gap: 10px;
}

.payment_method_button {
  border: 1px solid #808080;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: #808080;
  width: 100%;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
}

.payment_method_button.active {
  background-color: #ffffff;
  color: #ba274a;
  border: 2px solid #ba274a;
}

.stampGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-bottom: 15px;
  background: #f8f8f8;
  border-radius: 8px;
  padding: 40px 120px 40px 120px;
}

.stamp {
  aspect-ratio: 1;
  border-radius: 50%;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #666666;
  position: relative;
}

.stamp img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.stamp:not(.active) img {
  opacity: 0.1;
}

.stampNote {
  font-size: 12px;
  color: #666;
  margin-bottom: 50px;
}
