.container {
  padding-top: 180px;
  width: 70%;
  margin: 0 auto;
  min-height: calc(100vh - 140px);
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 0;
}

.title::before {
  content: "";
  width: 6px;
  height: 32px;
  background: #ba274a;
  border-radius: 8px;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.formContainer {
  flex: 1;
  margin-right: 40px;
  max-width: 800px;
}

.sideNav {
  width: 200px;
  margin-left: 20px;
  border-top: 2px solid #E5D5DA;
  height: 100%;
}

.sideNavItem {
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease;
  border-bottom: 1px solid #E5D5DA;
  font-weight: 600;
}

.sideNavItem:last-child {
  border-bottom: 2px solid #E5D5DA;
}

.sideNavItem:hover {
  color: #ba274a;
}

.periodFilter {
  background-color: #f8f8f8;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.periodFilter span {
  font-size: 16px;
  font-weight: 600;
}

.periodButton {
  padding: 5px 15px;
  border: 1px solid #ddd;
  background: none;
  cursor: pointer;
  border-radius: 8px;
}

.periodButton.active {
  background: #BA274A;
  color: white;
  border-color: #BA274A;
}

.dateInput {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100px;
  margin-bottom: 0;
}

.dateInput::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(327deg) brightness(87%) contrast(97%);
}

.dateInput:focus {
  outline: none;
  border: 1px solid #ba274a;
}

.searchButton {
  padding: 5px 15px;
  background: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.orderTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.orderTable th,
.orderTable td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #E5D5DA;
}

.orderTable th {
  border-top: 2px solid #BA274A;
  font-weight: bold;
}

.active {
  color: #BA274A;
}

.PaginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 20px;
  gap: 5px;
}

.PageButton {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  background-color: white;
  color: #666;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
  padding: 0;
  border-radius: 50%;
}

.PageButton:hover {
  background-color: #f8f9fa;
  color: #ba274a;
  border-color: #ba274a;
}

.PageButton.Active {
  background-color: #ba274a;
  color: white;
  border-color: #ba274a;
}

.PageButton:disabled {
  cursor: not-allowed;
  color: #999;
  border: none;
}