.AboutUs {
  background-image: url("/public/img/aboutUs.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.AboutUs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5); /* 배경 위에 어두운 투명 레이어 */
  z-index: 1; /* 텍스트 뒤에 위치하도록 설정 */
}

.AboutUsContent {
  position: relative;
  z-index: 2;
  width: 43%;
  text-align: center;
  margin: 0 auto;
}

.title {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.underline {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.underline::after {
  content: "";
  position: absolute;
  left: -3px;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: #ba274a;
  z-index: -1;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 99;
}

.imageWrapper img {
  width: 150px;
}

.imageWrapper img:hover {
  scale: 1.1;
  transition: 0.3s ease;
}

.hoverContent {
  margin: 0 auto;
  position: relative;
  z-index: 3;
  font-size: 18px;
  animation: slideUp 0.5s ease-out; /* 애니메이션 추가 */
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
