/* ------------- 폰트 ---------------- */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.AboutUs {
  font-family: "Pretendard-Regular";

  background-image: url("/public/img/aboutUs.png"); /* 배경 이미지 경로 */
  background-size: cover; /* 이미지가 요소 크기에 맞게 조정됨 */
  background-position: center; /* 이미지가 가운데 정렬 */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative; /* 추가 스타일을 위한 상대 위치 */
  overflow: hidden; /* 내부 요소가 부모를 벗어나지 않도록 설정 */
}

.AboutUs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 배경 위에 어두운 투명 레이어 */
  z-index: 1; /* 텍스트 뒤에 위치하도록 설정 */
}

.AboutUsContent {
  position: relative; /* 텍스트가 위에 표시되도록 설정 */
  z-index: 2; /* 어두운 배경 레이어보다 위에 표시 */
  font-size: 24px; /* 글씨 크기 */
  line-height: 1.5; /* 줄 간격 */
}

.about_us_icon {
  width: 40%;
}

.title {
  font-size: 64px;
  margin-bottom: 20px;
}

.underline {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* 텍스트 하단에 배경 배치 */
  width: 100%;
  height: 30%; /* 높이를 텍스트의 절반으로 설정 */
  background-color: #ba274a;
  z-index: -1; /* 배경이 텍스트 뒤로 가도록 설정 */
}

.content {
  font-size: 20px;
  line-height: 35px;
}
