.Banner {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.Banner .video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(50%); /* 밝기를 50%로 줄임 */
}
