.Footer {
  height: 140px;
  width: 100%;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
}

.content {
  width: 55%;
}

.footer_link {
  display: flex;
  gap: 50px;
}
