.Header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.137);
}

.logo {
  width: 70px;
  height: 70px;
  padding-right: 20px;
}
