.MenuSlide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 90%;
  height: 100vh;
}

.MENU {
  font-size: 38px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.MenuTabs {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu {
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.active {
  color: #ba274a;
  border-bottom: 5px solid #ba274a;
}
