a {
  text-decoration: none;
  color: white;
}

.Navigation {
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

/* ------------ 메뉴 드롭 다운 ----------------- */
/* 드롭다운 메뉴 스타일 */
.dropdown {
  position: relative;
  display: flex;
  gap: 20px;
  color: white;
}

.dropdown div {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.dropdown div > div {
  display: none; /* 기본적으로 숨겨두기 */
}

.dropdown div:hover > div {
  display: block; /* 마우스가 오버되면 드롭다운 메뉴가 보이도록 설정 */
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
}

.dropdown a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.dropdown a:hover {
  background-color: #f0f0f0;
}

/* ---------------- 로그인 모달 창 --------------- */
.sec_modal {
  display: none;
}

/* ----------------- 로그인, 회원가입, 마이페이지 버튼 ------------ */
ul {
  list-style: none;
}

.header_top {
  margin-left: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
}

/*  ---------------------- sns 버튼 ----------------------- */
.sns {
  width: 25px;
  height: 25px;
}

.youtube_icon {
  width: 20px;
  height: 20px;
}
