.Notice {
  position: absolute;
  right: 100px;
  bottom: 100px;
  width: 27%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  color: #f5edf0;
}

.Notice > span {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 20px;
}

.notice_content {
  font-size: 16px;
}

.notice_btn {
  display: flex;
  gap: 5px;
}

.notice_btn img {
  width: 30px;
  cursor: pointer;
}
