/* ------------- 폰트 ---------------- */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

.PopularMenu {
  width: 1000px;
  display: flex;
  font-family: 'Pretendard-Regular';
}

.menu_introduce {
  width: 45%;
}

.underline {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; /* 텍스트 하단에 배경 배치 */
  width: 100%;
  height: 45%; /* 높이를 텍스트의 절반으로 설정 */
  background-color: #ba274a;
  z-index: -1; /* 배경이 텍스트 뒤로 가도록 설정 */
}

.menu_title {
  font-size: 28px;
  margin-bottom: 50px;
}

.menu_content {
  font-size: 42px;
  font-weight: bolder;
  padding-bottom: 50px;
}

.content {
  font-size: 18px;
}
