.SliderContainer {
  position: relative;
  width: 85%;
  overflow-x: hidden;
  margin: 0 auto;
}

.SliderWrapper {
  display: flex;
  flex-wrap: nowrap; /* 가로로 나열 */
  transform: translateX(0); /* 초기 위치 */
  transition: transform 0.1s linear; /* 부드럽게 이동 */
}

.SlideItem {
  border-radius: 30px;
  min-width: 300px; /* 각 이미지의 고정 너비 */
  height: 320px;
  margin-right: 20px; /* 이미지 간격 */
  text-align: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 이동 및 그림자 효과 */
}

/* 마우스를 올렸을 때의 효과 */
.SlideItem:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); /* 그림자 강화 */
}

/* 이미지 효과 */
.SlideItem img {
  padding-top: 45px;
  width: 120px;
  height: auto;
  transition: transform 0.3s ease; /* 부드러운 확대 효과 */
}

/* 마우스를 올렸을 때 이미지 확대 */
.SlideItem:hover img {
  transform: scale(1.05);
}

.Empty {
  text-align: center;
  font-size: 18px;
  color: #666;
  padding: 20px;
}

.menu_name {
  font-weight: bolder;
  padding: 10px 50px;
  font-size: 20px;
  text-align: center;
}

/* 양 끝 흐리게 처리 */
.SliderContainer::before,
.SliderContainer::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100px; /* 양 끝의 흐려지는 너비 */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  ); /* 왼쪽 그라디언트 */
  z-index: 1;
}

.SliderContainer::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  ); /* 오른쪽 그라디언트 */
}
